*

# Readme
!README.md

# Git
!.gitignore

# pre-commit
!.pre-commit-config.yaml

# GitHub
!.github
!.github/**.yaml

# Docker
!.dockerignore
!Dockerfile
!docker-compose*.yaml

# Replit
!.replit
!replit.nix

# Deno
!deno.json
!deno.lock

# events
!events
!events/*.json

# source
!src
!src/
